* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  background-color: #f8f8f8;
}

.wrap {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 100px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  cursor: pointer;
}

.menu-list {
  display: flex;
}

.menu-list li {
  padding: 20px;
  cursor: pointer;
}

.side {
  display: flex;
  gap: 10px;
}

.side span {
  font-size: 14px;
  cursor: pointer;
}

.side .eng {
  color: #acacac;
}

.side-img {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.big-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  padding-top: 120px;
}

.big-icon-img {
  display: flex;
  align-items: center;
  width: 50%;
  height: 280px;
  border-radius: 12px;
  position: relative;
}

.big-icon .red {
  background-color: #fa4b14;
}

.big-icon .oran {
  background-color: #fd820e;
}

.big-icon-text {
  color: white;
  font-size: 35px;
  font-weight: 800;
  position: absolute;
  bottom: 50px;
  left: 25px;
}

.big-icon-text p {
  margin-bottom: 15px;
}

.big-icon-text p:last-child {
  margin-bottom: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0px;
  position: relative;
}

.text {
  width: 100%;
  padding: 15px 15px 15px 45px;
  height: 80px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  font-weight: 800;
}

.box i {
  position: absolute;
  top: 22px;
  right: 55px;
}
