* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  background-color: #f8f8f8;
}

.wrap {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 100px;
}

.main {
  padding-bottom: 175px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  cursor: pointer;
}

.menu-list {
  display: flex;
}

.menu-list li {
  padding: 20px;
  cursor: pointer;
}

.side {
  display: flex;
  gap: 10px;
}

.side span {
  font-size: 14px;
  cursor: pointer;
}

.side .eng {
  color: #acacac;
}

.side-img {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.big-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  padding-top: 120px;
  margin-bottom: 70px;
}

.big-icon-img {
  display: flex;
  align-items: center;
  width: 50%;
  height: 280px;
  border-radius: 12px;
  position: relative;
}

.big-icon .red {
  background-color: #fa4b14;
}

.big-icon .oran {
  background-color: #fd820e;
}

.big-icon-text {
  color: white;
  font-size: 35px;
  font-weight: 800;
  position: absolute;
  bottom: 50px;
  left: 25px;
}

.big-icon-text p {
  margin-bottom: 15px;
}

.big-icon-text p:last-child {
  margin-bottom: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.text {
  width: 100%;
  padding: 15px 15px 15px 45px;
  height: 80px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  font-weight: 800;
}

.box i {
  position: absolute;
  top: 22px;
  right: 55px;
}

.small-icon {
  width: 100%;
}

.up,
.down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 25px;
}
.up {
  margin-top: 0;
}

.about-us,
.recruit,
.pr,
.research,
.news,
.contact {
  border-radius: 25px;
  padding: 25px;
  width: 25%;
  height: 200px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.about-us,
.contact {
  width: 52%;
}

.up-en {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
}

.up-kr {
  font-weight: 600;
  color: #9999b3;
}

.up-main-icon,
.down-main-icon {
  position: absolute;
  right: 35px;
  top: 110px;
  color: #f08000;
  opacity: 60%;
}

.tail {
  background-color: white;
  background-size: 100%;
  width: 100%;
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-name {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
}

.company-name h3 {
  margin: 15px 0;
}

.tail-left {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tail-left-1,
.tail-left-2,
.tail-left-3,
.tail-left-4 .tail-left-4-1 {
  width: 100%;
  display: flex;
}

.tail-left-1 {
  font-weight: 700;
}

.tail-left-4 {
  justify-content: center;
  flex-direction: column;
}

.tail-left-4-1 {
  margin: 25px 0px 5px 0px;
}

.tail-left-2,
.tail-left-3,
.tail-left-4 {
  font-size: 10px;
}

.org {
  color: #fd820e;
}

.tail-left-2 {
  margin: 10px 0;
}

.hold {
  padding: 0px 5px;
  color: #e9e9e9;
}
